Student Name: Tanya Mittal

SAP ID: 590022823

### Experiment-2: Use of input statements, operators

#### Aim:
To write and execute Python programs to:
-  Perform arithmetic operations on integer variables
-  Calculate area of a circle
-  Evaluate algebraic expressions
-  Compute hypotenuse using Pythagoras theorem
-  Calculate simple interest
-  Find area of a triangle using given sides
-  Convert seconds into hours, minutes, and seconds
-  Swap two numbers without using an additional variable
-  Find the sum of first n natural numbers
-  Generate truth tables for bitwise operators
-  Perform left and right shift operations
-  Check membership of a number in a sequence
-  Check membership of a character in a string

1) Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform addition, multiplication, division  and subtraction on these two variables and Print out the result.

In [2]:
x = 9
y = 7

print("Addition:", x + y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Subtraction:", x - y)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

2) Write a Program where the radius is taken as input to compute the area of a circle.

In [4]:
r = float(input("Enter radius: "))
area = 3.14159 * r * r
print("Enter radius:", r)
print("Area of circle:", area)

Enter radius: 20.0
Area of circle: 1256.636

3) Write a Python program to solve (x+y)*(x+y)
a. Test data : x = 4 , y = 3
b. Expected output: 49

In [5]:
x = 4
y = 3
result = (x + y) * (x + y)
print("Result:", result)

Result: 49

4) Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.

In [6]:
foot = float(input("Enter foot: "))
perpendicular = float(input("Enter perpendicular: "))

hypotenuse = (foot*foot + perpendicular*perpendicular) ** 0.5

print("Foot:", foot)
print("Perpendicular:", perpendicular)
print("Hypotenuse:", hypotenuse)

Foot: 4.0
Perpendicular: 3.0
Hypotenuse: 5.0

5) Write a program to find simple interest

In [7]:
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))

si = (p * r * t) / 100

print("Principal:", p)
print("Rate:", r)
print("Time:", t)
print("Simple Interest:", si)

Principal: 2000.0
Rate: 5.0
Time: 5.0
Simple Interest: 500.0

6) Write a program to find area of triangle when length of sides are given.

In [8]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

s = (a + b + c) / 2
area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

print("Side a:", a)
print("Side b:", b)
print("Side c:", c)
print("Area of triangle:", area)

Side a: 20.0
Side b: 30.0
Side c: 40.0
Area of triangle: 290.4737509655563

7) Write a program to convert given seconds into hours, minutes and remaining seconds.

In [9]:
seconds = int(input("Enter seconds: "))

hours = seconds // 3600
minutes = (seconds % 3600) // 60
sec = seconds % 60

print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", sec)

Hours: 11
Minutes: 6
Seconds: 40

8) Write a program to swap two numbers without taking additional variable.

In [12]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Before swapping:")
print("a =", a)
print("b =", b)

a = a + b
b = a - b
a = a - b

print("After swapping:")
print("a =", a)
print("b =", b)

Before swapping:
a = 10
b = 20
After swapping:
a = 20
b = 10

9) Write a program to find sum of first n natural numbers.

In [13]:
n = int(input("Enter value of n: "))

sum_n = n * (n + 1) // 2

print("n =", n)
print("Sum of first", n, "natural numbers:", sum_n)

n = 16
Sum of first 16 natural numbers: 136

10) Write a program to print truth table for bitwise operators( & , | and ^ operators)

In [14]:
print("A B  A&B  A|B  A^B")

for A in [0, 1]:
    for B in [0, 1]:
        print(A, B, " ", A & B, "   ", A | B, "   ", A ^ B)

A B  A&B  A|B  A^B
0 0   0     0     0
0 1   0     1     1
1 0   0     1     1
1 1   1     1     0

11) Write a program to find left shift and right shift values of a given number.

In [16]:
n = int(input("Enter a number: "))

left_shift = n << 1
right_shift = n >> 1

print("Number:", n)
print("Left shift (n << 1):", left_shift)
print("Right shift (n >> 1):", right_shift)

Number: 8
Left shift (n << 1): 16
Right shift (n >> 1): 4

12) Using membership operator find whether a given number is in sequence (10,20,56,78,89)

In [17]:
sequence = (10, 20, 56, 78, 89)

num = int(input("Enter a number: "))

print("Sequence:", sequence)
print("Entered number:", num)

if num in sequence:
    print("The number is present in the sequence")
else:
    print("The number is not present in the sequence")

Sequence: (10, 20, 56, 78, 89)
Entered number: 58
The number is not present in the sequence

13) Using membership operator find whether a given character is in a string.

In [18]:
s = input("Enter a string: ")
ch = input("Enter a character: ")

print("String:", s)
print("Character:", ch)

if ch in s:
    print("The character is present in the string")
else:
    print("The character is not present in the string")

String: Python
Character: c
The character is not present in the string

#### Observation:
-  Python supports basic arithmetic operations such as addition, subtraction, multiplication, and division on integer variables.
-  User input can be taken using the input() function and converted to required data types.
-  Mathematical expressions can be evaluated directly using operators.
-  Pythagoras theorem can be implemented using square and square-root operations.
-  Simple Interest is calculated using the formula (P × R × T) / 100.
-  Area of a triangle can be calculated using Heron’s formula.
-  Time conversion is achieved using division and modulus operators.
-  Swapping of variables can be done without an extra variable using arithmetic operations.
-  The sum of first n natural numbers can be calculated using the formula n(n+1)/2.
-  Bitwise operators &, |, and ^ operate on binary values and can be represented using truth tables.
-  Left shift (<<) and right shift (>>) operators shift bits of a number.
-  Membership operator in is used to check whether an element exists in a sequence.
-  Membership operator can also be used to check the presence of a character in a string.

#### Result:
All the Python programs were executed successfully.The outputs obtained were correct and matched the expected results.Thus, the objectives of understanding basic Python syntax, arithmetic operations, conditional checks, and bitwise operations were achieved.