## Experiment-1: Installation and Starting With Python

1) Install Python and understand difference between scripting and interactive modes in IDLE.

1) 
Python was installed successfully on the system and verified using Jupyter Notebook.
Jupyter Notebook provides an interactive environment to write and execute Python code.

- Interactive Mode:
Code is executed cell by cell and output is displayed immediately. It is useful for testing and learning.

- Scripting Mode:
A complete program is written and saved as a .py file and executed as a whole. It is suitable for larger programs.
![Image](./Images/Installation.png)

2) Write Python programs to print strings in the given manner:
a) Hello Everyone !!!
b) Hello
 World
c) Hello
 World
d) ‘ Rohit’ s date of birth is 12\05\1999’

In [2]:
print("Hello Everyone !!!")

Hello Everyone !!!

In [3]:
print("Hello")
print("World")

Hello
World

In [4]:
print("Hello")
print(" World")

Hello
 World

In [6]:
print("' Rohit' s date of birth is 12\\05\\1999'")

' Rohit' s date of birth is 12\05\1999'

3) Declare a string variable called x and assign it the value “Hello”.
 Print out the value of x

In [1]:
x = "Hello"
print(x)

Hello

4) Take different data types and print values using print function.

In [2]:
a = 10          # integer
b = 3.14        # float
c = "Python"    # string
d = True        # boolean

print(a)
print(b)
print(c)
print(d)

10
3.14
Python
True

5) Take two variable a and b. Assign your first name and last name. Print your Name after adding your First name and Last name together.

In [1]:
a = "Tanya"
b = "Mittal"

print(a + " " + b)

Tanya Mittal

6) Declare three variables: first name, last name, and nickname. Print in the given format.

In [2]:
first_name = "Tanya"
last_name = "Mittal"
nickname = "woody"

print(first_name + " ( " + nickname + " ) " + last_name)

Tanya ( woody ) Mittal

7) Declare and assign values to suitable variables and print in the given format.

In [3]:
name = "NIKUNJ BANSAL"
sap_id = "500069944"
dob = "13 Oct 1999"
address = "UPES\nBidholi Campus"
pincode = "248007"
programme = "AI & ML"
semester = "2"

print("NAME :", name)
print("SAP ID :", sap_id)
print("DATE OF BIRTH :", dob)
print("ADDRESS :", address)
print("Pincode :", pincode)
print("Programme :", programme)
print("Semester :", semester)

NAME : NIKUNJ BANSAL
SAP ID : 500069944
DATE OF BIRTH : 13 Oct 1999
ADDRESS : UPES
Bidholi Campus
Pincode : 248007
Programme : AI & ML
Semester : 2

### Observation 
Through these programs, it was observed that Python is simple and flexible for handling strings and variables. Interactive mode in IDLE is useful for quick testing of single statements, while scripting mode is better for writing and executing complete programs. The print() function can display different data types such as integers, floats, strings, and boolean values without any extra conversion. New lines in output can be created using \n or by using multiple print() statements, and special characters like backslashes require escape sequences. String concatenation using the + operator allows combining names and text in the required format. Overall, Python makes program execution easy, readable, and efficient, and all the outputs were obtained as expected.

### Result
All the Python programs were executed successfully without errors. The expected output for each program was obtained, including correct string formatting, proper variable usage, and accurate display of different data types. The difference between interactive and scripting modes was clearly understood through execution. Overall, the objectives of the experiment were achieved successfully.